body, html {
    height: 100%;
    margin: 0;
    background-image: url("../src/assets/img/pizzabg.jpg");
    background-size: cover;
}

.li {
    list-style: none;
    display: flex; /* Ajustar el contenedor de las cartas para usar flexbox */
    flex-wrap: wrap; /* Permitir que las cartas se envuelvan si no caben en una sola fila */
    justify-content: space-around; /* Distribuir el espacio entre las cartas de manera uniforme */

}
.cajacatalogo {

    display: flex; /* Ajustar el contenedor de las cartas para usar flexbox */
    flex-wrap: wrap; /* Permitir que las cartas se envuelvan si no caben en una sola fila */
    justify-content: space-around; /* Distribuir el espacio entre las cartas de manera uniforme */
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ache1 {
    color: #eceaea; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 150px; font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    margin-top: 13vh;

}

.cajacarrito {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    border-radius: 10px; /* Borde redondeado */
    padding: 20px; /* Espaciado interno */
    width: 350px; /* Ancho del contenedor */
    margin: 0 auto;/* Centrar horizontalmente */
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.ulcarrito{
    list-style: none;
    
  
    
}

